header{
  background-color: antiquewhite;
  height: 60px;
}

.navbar{
  ul{
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
    }

    a{
      padding: 10px;
      font-size: 20px;
      display: block;
    }
  }
}

@mixin square ($value){
  height: $value;
  width: 200px;
  background-color: blueviolet;
  float: left;
  margin: 13px;
}

.box{
  @include square(200px);
}

.tallbox{
  @include square(300px);
}
